{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'productInfo.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Random Papers</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <div id="sharebox">
            <a href="{%url 'pybo:create' %}" id="share"><b>LET'S<br>START</b></a>
        </div>
        {% endif %}
        <h1><a href="/pybo/" id="pagename">SHARESHARE</a></h1>

        <nav>
            {% if user.is_authenticated %}
            <a href="{%url 'pybo:joined' %}" id="joined">cart</a>
            {% endif %}
            

            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }}(로그아웃)</a>
            {% else %}
            <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
            {% endif %}
        </nav>
    </header>
    
    <div class="gridContainer" style="margin-top: 200px; margin-bottom: 200px;">
        <div class="leftMargin"></div>
        <div class="left">
            <div class="productImg">
                <img src="{{post.image.url}}" alt="">
                <button><img src="/img/see.png" alt=""></button>
            </div>
            <div>
                <div class="comment">
                    <p style="font-weight:700;">Comment</p>
                    <p style="padding: 5px; font-weight: 300;">{{post.content}}</p>
                </div>
            </div>
        </div>
        <div class="middle"></div>
        <div class="right">
            <div class="productName">{{post.title}}</div>
            <div class="price">
                <div class="currentPrice">{{post.dicount_price}}</div>
                <div class="originalPrice">{{post.price}}</div>
                <div class="priceMargin"></div>
            </div>
            <div class="person">
                <div class="personName">{{post.user.username}} / {{post.user.last_name}}{{post.user.first_name}}</div>
                <div class="personKakao"><a href="/"><img src = "{% static 'images/Kakao_logo.jpeg' %}" alt="" class = personKakao ></a></div>
                <div class="personPicture"><img src= "{% static 'images/person.png' %}" alt="" id="personImg"></div>
            </div>
            <div class="productProgress">
                <progress value={{post.participants}} max={{post.recruit_num}}></progress>
                <div style="display: inline; font-size: 30px; align-items: center; font-weight: 500;">{{post.participants}} / {{post.recruit_num}}</div>
            </div>
            <div class="submitButtons">
                <button class="joinButton">JOIN</button>
                <div style="width: 100px;"></div>
                <button class="shareButton">SHARE</button>

            </div>

        </div>
        <div class="rightMargin"></div>
    </div>
    <div id="finish">
        <footer class="footer">
            <h1><a href="pybo/" id="pagename">SHARESHARE</a></h1>
            <div>
            This is Team TAG's Project!!<br>
            최락원, 김민수, 이은서, 변승진, 이은지, 유종혁
            </div>
        </footer>
    </div>
</body>
</html>