*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body{
  margin-top:150px;
  min-height:100%;
}
header {                
  height: 75px;
  padding: 1rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  background-color: rgb(44, 44, 44);
}



header nav a{
    text-decoration: none;
    color:grey;
    margin-right:20px;
    font-weight: bold;
    vertical-align: middle;
}

#login{
    width:45px;
    height:45px;
    border-radius:50%;
    border:2px solid white;
}

#sharebox{
  border:2px solid white;
  padding: 14px;
  margin-left: 15px;
  margin-right: 27.75px;
  text-align: center;
  letter-spacing: 2px;
}
#share{
  text-decoration: none;
  font-size:15px;
  color: white;
}

header nav a:hover{
    color:black;
}

header{
    /* background-color: red; */
    margin-bottom:0px;
}

#pagename{
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:aliceblue;
  border: 2px solid white;
  padding: 10px;
  letter-spacing: 2px;
}

  #made{
      display: flex;
      margin:auto;
      /* background-color: red; */
      align-items: center;
      width:100%;
      justify-content: space-evenly;
  }

  /*image upload css---------------------*/
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
}
.image-show {
    z-index: -1;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 50%;
}

#previewbox{
  display: flex;
  margin-left: 37px;
}
#previewbox img{
  width: 100px;
  height: 100px;
  
}

/*----------------------------------------------------*/

  #info{
      /* background-color: blue; */
      width:60%;
      margin-left:20px;
  }

  #info label{
    margin-left:35px;
    font-size:25px;
  }

  #bookname,
  #author,
  #original,
  #usernumber,
  #discount{
    height: 40px;
    width: 80%;
    border:none;
    border-bottom:1px solid black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left:35px;
  }

  #usernumber{
    width:80%;
    margin-right: 10px;
  }
  #info input[type="radio"]{
    margin-left:15px;
    margin-top:10px;
  }

  #choose{
    margin-left:20px;
    margin-top:15px;
  }

  #cal{
    display:flex;
  }

  #calbutton{
    height:30px;
    width:40px;
    margin:auto;
    background-color: rgba(0,0,0,0);
    margin-left:3px;
    border-radius: 20%;
  }

  #calbutton:hover{
    cursor:pointer;
    background-color: rgb(220, 220, 220);
  }

  #comment{
      height:80px;
      width:80%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left:35px;
    border-radius: 15px;
  }

  #info input[type="submit"] {
    margin-top: 20px;
    border: none;
    height: 60px;
    width:40%;
    background-color: rgb(44, 44, 44);
    color: #fff;
    font-size: 25px;
    font-weight:bold;
    margin-bottom: 100px;
    margin-left:35px;
    border-radius: 15px;
    padding: 3px;    
  }

  
  #info input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(108, 108, 108);
  }

  footer{
    position:relative;
    width:90%;
    margin:auto;
    display:flex;
  }
  
  footer h1{
    margin:auto;
  }
  
  footer div{
      text-align:center;
      margin:auto;
      font-size: 15px;
      color: rgb(255, 255, 255);
      padding: 20px;
  }
  #finish{
    background-color: rgb(44, 44, 44);
    padding:3px;
    width:100.7%;
    margin-left:-8px;
    margin-bottom:-7px;
  }

